= simple_form_for(@termination) do |f|
  = f.error_notification

  .form-inputs
    = f.association :partner, :include_blank => false, :label_method => lambda { |partner| "#{partner.gevis_nummer}"}
    = f.input :variante
    = f.input :sofort
    = f.input :terminiert
    = f.input :status

  .form-actions
    = f.button :submit
