%h1 Listing terminations

%table
  %thead
    %tr
      %th Partner
      %th Variante
      %th Sofort
      %th Terminiert
      %th Status
      %th
      %th
      %th

  %tbody
    - @terminations.each do |termination|
      %tr
        %td= termination.partner
        %td= termination.variante
        %td= termination.sofort
        %td= termination.terminiert
        %td= termination.status
        %td= link_to 'Show', termination
        %td= link_to 'Edit', edit_termination_path(termination)
        %td= link_to 'Destroy', termination, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Termination', new_termination_path
