%p#notice= notice

%p
  %b Partner:
  = @termination.partner
%p
  %b Variante:
  = @termination.variante
%p
  %b Sofort:
  = @termination.sofort
%p
  %b Terminiert:
  = @termination.terminiert
%p
  %b Status:
  = @termination.status

= link_to 'Edit', edit_termination_path(@termination)
\|
= link_to 'Back', terminations_path
