= simple_form_for(@invoice) do |f|
  = f.error_notification

  .form-inputs
    = f.association :partner, :include_blank => false, :label_method => lambda { |partner| "#{partner.gevis_nummer}"}
    = f.input :firma1
    = f.input :vorname
    = f.input :nachname
    = f.input :firma2
    = f.input :abteilung
    = f.input :titel
    = f.input :geschlecht
    = f.input :funktion
    = f.input :strasse
    = f.input :hausnummer
    = f.input :plz
    = f.input :ort
    = f.input :postfach
    = f.input :postfach_plz
    = f.input :postfach_ort
    = f.input :lastschriftart
    = f.input :zahlungsart
    = f.input :zahlungsziel

  .form-actions
    = f.button :submit
