%h1 Listing invoices

%table
  %thead
    %tr
      %th Partner
      %th Firma1
      %th Vorname
      %th Nachname
      %th Firma2
      %th Abteilung
      %th Titel
      %th Geschlecht
      %th Funktion
      %th Strasse
      %th Hausnummer
      %th Plz
      %th Ort
      %th Postfach
      %th Postfach plz
      %th Postfach ort
      %th Lastschriftart
      %th Zahlungsart
      %th Zahlungsziel
      %th
      %th
      %th

  %tbody
    - @invoices.each do |invoice|
      %tr
        %td= invoice.partner
        %td= invoice.firma1
        %td= invoice.vorname
        %td= invoice.nachname
        %td= invoice.firma2
        %td= invoice.abteilung
        %td= invoice.titel
        %td= invoice.geschlecht
        %td= invoice.funktion
        %td= invoice.strasse
        %td= invoice.hausnummer
        %td= invoice.plz
        %td= invoice.ort
        %td= invoice.postfach
        %td= invoice.postfach_plz
        %td= invoice.postfach_ort
        %td= invoice.lastschriftart
        %td= invoice.zahlungsart
        %td= invoice.zahlungsziel
        %td= link_to 'Show', invoice
        %td= link_to 'Edit', edit_invoice_path(invoice)
        %td= link_to 'Destroy', invoice, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Invoice', new_invoice_path
