%p#notice= notice

%p
  %b Partner:
  = @invoice.partner
%p
  %b Firma1:
  = @invoice.firma1
%p
  %b Vorname:
  = @invoice.vorname
%p
  %b Nachname:
  = @invoice.nachname
%p
  %b Firma2:
  = @invoice.firma2
%p
  %b Abteilung:
  = @invoice.abteilung
%p
  %b Titel:
  = @invoice.titel
%p
  %b Geschlecht:
  = @invoice.geschlecht
%p
  %b Funktion:
  = @invoice.funktion
%p
  %b Strasse:
  = @invoice.strasse
%p
  %b Hausnummer:
  = @invoice.hausnummer
%p
  %b Plz:
  = @invoice.plz
%p
  %b Ort:
  = @invoice.ort
%p
  %b Postfach:
  = @invoice.postfach
%p
  %b Postfach plz:
  = @invoice.postfach_plz
%p
  %b Postfach ort:
  = @invoice.postfach_ort
%p
  %b Lastschriftart:
  = @invoice.lastschriftart
%p
  %b Zahlungsart:
  = @invoice.zahlungsart
%p
  %b Zahlungsziel:
  = @invoice.zahlungsziel

= link_to 'Edit', edit_invoice_path(@invoice)
\|
= link_to 'Back', invoices_path
