

= simple_form_for(@partner) do |f|
  = f.simple_fields_for :invoice do |i|
    = f.simple_fields_for :partner_roles do |p|
      = f.simple_fields_for :contact do |c|
        .col-md-12
          .col-md-6
            .panel.panel-default
              .panel-heading
              .panel-body

                .form-inputs
                  %h3 Allgemein:
                  = f.input :gevis_nummer, as: :string, label: 'Gevis-Nr.'
                  = f.hidden_field :partner_typ, :value => "Bestandskunde"
                  = p.input :partnerrolle, :collection => ["T", "S", "TS"], as: :radio_buttons
                  = f.input :dkv_nummer, as: :string, label: 'DKV - Nr.'
                  %h3 Rechnungsdaten:
                  = i.input :firma1
                  = i.input :firma2
                  = i.input :strasse, label: 'Straße'
                  = i.input :hausnummer, label: 'Hausnr.'
                  = i.input :plz, as: :string
                  = i.input :ort

          .col-md-6
            .panel.panel-default
              .panel-heading
              .panel-body

                %h3 Ansprechpartner:

                = c.input :ansprechpartner_vorname, label: 'Vorname'
                = c.input :ansprechpartner_name, label: 'Nachname'
                = c.input :ansprechpartner_titel, label: 'Titel'
                = c.input :ansprechpartner_abteilung, label: 'Abteilung'
                = c.input :ansprechpartner_geschlecht, :collection => ["männlich", "weiblich"], as: :radio_buttons, label: 'Geschlecht'
                = c.input :ansprechpartner_funktion, label: 'Funktion'
                = c.input :ansprechpartner_telefon, label: 'Telefon'
                = c.input :ansprechpartner_fax, label: 'FAX'
                = c.input :ansprechpartner_email, label: 'eMail'

                %h3 Weitere Daten

                = f.input :handelsregister_ort, label: 'Handelsregister Ort'
                = f.input :handelsregister_nr, as: :string, label: 'Handelsregister Nr.'
                = f.input :kunde_seit, as: :date, start_year: Date.today.year - 15,
                                    end_year: Date.today.year,
                                    order: [:day, :month, :year]

    .form-actions
      = f.button :submit, 'Kunde anlegen'
