.col-md-6
  .panel.panel-default
    .panel-heading Allgemein
    .panel-body
      %p
        %b Dkv nummer:
        = @partner.dkv_nummer
      %p
        %b Partnerrolle:
        = "Tankkartenkunde"
      %p
        %b Kündigungsstatus:
        = "-"
      %p
        %b Handelsregister:
        = "Stuttgart"
      %p
        %b Handelsregister-Nr.:
        = "12343211"
      %p
        %b UmsatzsteuerID:
        = "DE3425345"
      .form-group
        %label{:for => "comment"} Zusatzinfos zu Aktionen:
        %textarea#comment.form-control{:rows => "4"}

.col-md-6
  .panel.panel-default
    .panel-heading Rating
    .panel-body
      %p
        %b aktuelles Rating:
        = "2,3"
      %p
        %b Rating gültig bis:
        = "01.01.2016"
      .form-group
        %label{:for => "comment"} Zusatzinfos zum Rating:
        %textarea#comment.form-control{:rows => "4"}

.col-md-12
.col-md-6
  .panel.panel-default
    .panel-heading Kontakt
    .panel-body
      %p
        %b Firma:
        = @partner.invoice.firma1
      %p
        %b Zusatz:
        = "partner_firma2"
      %p
        %b Ansprechpartner:
        = "partner.ansprechpartner_vorname + partner.ansprechpartner_name"
      %p
        %b Ansprechpartner Funktion:
        = "partner.ansprech_funktion"
        %p
          %b Adresse:
          =" @partner.strasse"
          =" @partner.hausnummer + '','"
          = "@partner.plz"
          = "@partner.ort"
        %p
          %b Abteilung:
          = "partner_abteilung"
        %p
          %b Ansprechpartner Abteilung:
          = "partner:ansprech_abteilung"
          %p
            %b Ansprechpartner Tel.:
            = "partner.ansprechpartner_tel"
          %p
            %b Ansprechpartner Fax.:
            = "partner.ansprechpartner_fax"
          %p
            %b Ansprechpartner eMail.:
            = "partner.ansprechpartner_email"

.col-md-6
  .panel.panel-default
    .panel-heading Rechnungsadresse
    .panel-body
      %p
        %b Firma:
        = @partner.invoice.firma1
      %p
        %b Zusatz:
        = "partner_firma2"
      %p
        %b Abteilung:
        = "partner_abteilung"
      %p
        %b Ansprechpartner:
        = "partner.ansprechpartner_vorname + partner.ansprechpartner_name"
      %p
        %b Ansprechpartner Funktion:
        = "partner.ansprech_funktion"
      %p
        %b Adresse:
        = @partner.invoice.strasse
        = @partner.invoice.hausnummer + ","
        = @partner.invoice.plz
        = @partner.invoice.ort
        %br/
        = "@partner.rech_postfach"
        %br/
        = "@partner.rech_postfach_plz"
        %br/
        = "@partner.rech_postfach_ort"
        %br/
      %p
        %b Ansprechpartner Abteilung:
        = "partner:ansprech_abteilung"
      %p
        %b Ansprechpartner Tel.:
        = "partner.ansprechpartner_tel"
      %p
        %b Ansprechpartner Fax.:
        = "partner.ansprechpartner_fax"
      %p
        %b Ansprechpartner eMail.:
        = "partner.ansprechpartner_email"
%br/
.col-md-12
.col-md-6
  .panel.panel-default
    .panel-heading Vertriebsinfos
    .panel-body
      %p
        %b zuständiger Berater:
        = "@vertriebsinfos.vorname + @vertriebsinfos.name"
      %p
        %b zuständiges KC:
        = "@vertriebsinfos.kompetenzcenter"
      %p
        %b zuständige Niederlassung:
        = "@vertriebsinfos.niederlassung"
      = link_to welcome_index_path, {:class => "btn btn-info "} do
        %span.glyphicon.glyphicon-file
        Historie

.col-md-6
  .panel.panel-default
    .panel-heading Bankdaten
    .panel-body
      %p
        %b Bank:
        = "@partner_view.name_bank"
      %p
        %b IBAN:
        = "@partner_view.iban"
      %p
        %b BIC:
        = "@partner_view.bic"
      %p
        %b Mandatsreferenz:
        = "@partner_view.mandatsreferenz"
      %p
        %b Art der Lastschrift:
        = "@partner.art_lastschrift"
      %p
        %b Anzahl Tage Zahlungsziel:
        = "@partner.tage_zahlungsziel"

.col-md-12
.col-md-6
  .panel.panel-default
    .panel-heading Fuhrparkstruktur
    .panel-body
      %p
        %b Anzahl PKW / Transporter < 3,5t:
        = "@fuhrpark.anzahl_pkw_kl_3,5"
      %p
        %b Anzahl Transporter 3,5t-12t:
        = "@fuhrpark.anzahl_pkw_gr_3,5"
      %p
        %b Anzahl LKW > 12t:
        = "@fuhrpark.anzahl_lkw_gr_12"
      %p
        %b Anzahl Reise- und Linienbusse:
        = "@fuhrpark.anzahl_busse"
      %p
        %b Nichtöffentl. Tankstellen / Betriebstankstellen ja/nein:
        = "@fuhrpark.tankstellen_privat"
      %p
        %b Aktueller Mautabrechner:
        = "@fuhrpark.mautabrechner"
      %p
        %b Aktueller Haupttankkartenabrechner:
        = "@fuhrpark.haupttankkartenabrechner"
      %p
        %b Erfassungsdatum Fuhrparkstruktur:
        = "@fuhrpark.erfassungsdatum"



  = link_to edit_partner_path(@partner), {:class => "btn btn-success "} do
    %span.glyphicon.glyphicon-pencil
    Edit

  = link_to welcome_index_path, {:class => "btn btn-danger "} do
    %span.glyphicon.glyphicon-home
    Back

  %br/

  %br/
