%h1 Listing partners

%table
  %thead
    %tr
      %th Partner typ
      %th Dkv nummer
      %th Bemerkungen
      %th Abteilung
      %th Plz postfach
      %th Ort postfach
      %th Postfach
      %th Handelsregister ort
      %th Handelsregister nr
      %th Kunde seit
      %th Info interessent
      %th Rating bemerkung
      %th
      %th
      %th

  %tbody
    - @partners.each do |partner|
      %tr
        %td= partner.partner_typ
        %td= partner.dkv_nummer
        %td= partner.bemerkungen
        %td= partner.abteilung
        %td= partner.plz_postfach
        %td= partner.ort_postfach
        %td= partner.postfach
        %td= partner.handelsregister_ort
        %td= partner.handelsregister_nr
        %td= partner.kunde_seit
        %td= partner.info_interessent
        %td= partner.rating_bemerkung
        %td= link_to 'Show', partner
        %td= link_to 'Edit', edit_partner_path(partner)
        %td= link_to 'Destroy', partner, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Partner', new_partner_path
