/ Nav tabs
%ul.nav.nav-pills.nav-justified{:role => "tablist"}
  %li.active{:role => "presentation"}
    %a{"aria-controls" => "Kundenübersicht", "data-toggle" => "tab", :href => "#tab1", :role => "tab"}
      %span.glyphicon.glyphicon-home
      Kundenübersicht
  %li{:role => "presentation"}
    %a{"aria-controls" => "KartenLimite", "data-toggle" => "tab", :href => "#tab2", :role => "tab"}
      %span.glyphicon.glyphicon-credit-card
      Karten und Limite
  %li{:role => "presentation"}
    %a{"aria-controls" => "Umsaetze", "data-toggle" => "tab", :href => "#tab3", :role => "tab"}
      %span.glyphicon.glyphicon-euro
      Umsätze
  %li{:role => "presentation"}
    %a{"aria-controls" => "Absicherungen", "data-toggle" => "tab", :href => "#tab4", :role => "tab"}
      %span.glyphicon.glyphicon-save
      Absicherungen
  %li{:role => "presentation"}
    %a{"aria-controls" => "Zahlungsstörungen", "data-toggle" => "tab", :href => "#tab5", :role => "tab"}
      %span.glyphicon.glyphicon-eye-open
      Zahlungsstörungen
  %li{:role => "presentation"}
    %a{"aria-controls" => "Kündigungen", "data-toggle" => "tab", :href => "#tab6", :role => "tab"}
      %span.glyphicon.glyphicon-remove
      Kündigungen
%br
.col-md-12
  .col-md-3
    .well.well-sm
      %p
        %b Partner:
        -# = @partner.invoice.firma1
        %b GEVIS:
        = @partner.gevis_nummer

  = link_to welcome_index_path, {:class => "label label-danger ", :style => "color:white"} do
    %span.label.label-danger
    Kündigung

.tab-content
  #tab1.tab-pane.fade.in.active
    .col-md-12
      .col-md-6
        .panel.panel-default
          .panel-heading Allgemein
          .panel-body
            %p
              %b Dkv nummer:
              = @partner.dkv_nummer
            %p
              %b Partnerrolle:
              = "Tankkartenkunde"
            %p
              %b Kündigungsstatus:
              = "-"
            %p
              %b Handelsregister:
              = "Stuttgart"
            %p
              %b Handelsregister-Nr.:
              = "12343211"
            %p
              %b UmsatzsteuerID:
              = "DE3425345"
            .form-group
              %label{:for => "comment"} Zusatzinfos zu Aktionen:
              %textarea#comment.form-control{:rows => "4"}

      .col-md-6
        .panel.panel-default
          .panel-heading Rating
          .panel-body
            %p
              %b aktuelles Rating:
              = "2,3"
            %p
              %b Rating gültig bis:
              = "01.01.2016"
            .form-group
              %label{:for => "comment"} Zusatzinfos zum Rating:
              %textarea#comment.form-control{:rows => "4"}

    .col-md-12
      .col-md-6
        .panel.panel-default
          .panel-heading Kontakt
          .panel-body
            %p
              %b Firma:
              = @partner.invoice.firma1
            %p
              %b Zusatz:
              = "partner_firma2"
            %p
              %b Ansprechpartner:
              = "partner.ansprechpartner_vorname + partner.ansprechpartner_name"
            %p
              %b Ansprechpartner Funktion:
              = "partner.ansprech_funktion"
              %p
                %b Adresse:
                =" @partner.strasse"
                =" @partner.hausnummer + '','"
                = "@partner.plz"
                = "@partner.ort"
              %p
                %b Abteilung:
                = "partner_abteilung"
              %p
                %b Ansprechpartner Abteilung:
                = "partner:ansprech_abteilung"
                %p
                  %b Ansprechpartner Tel.:
                  = "partner.ansprechpartner_tel"
                %p
                  %b Ansprechpartner Fax.:
                  = "partner.ansprechpartner_fax"
                %p
                  %b Ansprechpartner eMail.:
                  = "partner.ansprechpartner_email"

      .col-md-6
        .panel.panel-default
          .panel-heading Rechnungsadresse
          .panel-body
            %p
              %b Firma:
              = @partner.invoice.firma1
            %p
              %b Zusatz:
              = "partner_firma2"
            %p
              %b Abteilung:
              = "partner_abteilung"
            %p
              %b Ansprechpartner:
              = "partner.ansprechpartner_vorname + partner.ansprechpartner_name"
            %p
              %b Ansprechpartner Funktion:
              = "partner.ansprech_funktion"
            %p
              %b Adresse:
              = @partner.invoice.strasse
              -# = @partner.invoice.hausnummer + ","
              = @partner.invoice.plz
              = @partner.invoice.ort
              %br/
              = "@partner.rech_postfach"
              %br/
              = "@partner.rech_postfach_plz"
              %br/
              = "@partner.rech_postfach_ort"
              %br/
            %p
              %b Ansprechpartner Abteilung:
              = "partner:ansprech_abteilung"
            %p
              %b Ansprechpartner Tel.:
              = "partner.ansprechpartner_tel"
            %p
              %b Ansprechpartner Fax.:
              = "partner.ansprechpartner_fax"
            %p
              %b Ansprechpartner eMail.:
              = "partner.ansprechpartner_email"
          %br/

    .col-md-12
      .col-md-6
        .panel.panel-default
          .panel-heading Vertriebsinfos
          .panel-body
            %p
              %b zuständiger Berater:
              = "@vertriebsinfos.vorname + @vertriebsinfos.name"
            %p
              %b zuständiges KC:
              = "@vertriebsinfos.kompetenzcenter"
            %p
              %b zuständige Niederlassung:
              = "@vertriebsinfos.niederlassung"
            = link_to welcome_index_path, {:class => "btn btn-info ", :style => "color:white"} do
              %span.glyphicon.glyphicon-file
              Historie

      .col-md-6
        .panel.panel-default
          .panel-heading Bankdaten
          .panel-body
            %p
              %b Bank:
              = "@partner_view.name_bank"
            %p
              %b IBAN:
              = "@partner_view.iban"
            %p
              %b BIC:
              = "@partner_view.bic"
            %p
              %b Mandatsreferenz:
              = "@partner_view.mandatsreferenz"
            %p
              %b Art der Lastschrift:
              = "@partner.art_lastschrift"
            %p
              %b Anzahl Tage Zahlungsziel:
              = "@partner.tage_zahlungsziel"

    .col-md-12
      .col-md-6
        .panel.panel-default
          .panel-heading Fuhrparkstruktur
          .panel-body
            %p
              %b Anzahl PKW / Transporter < 3,5t:
              = "@fuhrpark.anzahl_pkw_kl_3,5"
            %p
              %b Anzahl Transporter 3,5t-12t:
              = "@fuhrpark.anzahl_pkw_gr_3,5"
            %p
              %b Anzahl LKW > 12t:
              = "@fuhrpark.anzahl_lkw_gr_12"
            %p
              %b Anzahl Reise- und Linienbusse:
              = "@fuhrpark.anzahl_busse"
            %p
              %b Nichtöffentl. Tankstellen / Betriebstankstellen ja/nein:
              = "@fuhrpark.tankstellen_privat"
            %p
              %b Aktueller Mautabrechner:
              = "@fuhrpark.mautabrechner"
            %p
              %b Aktueller Haupttankkartenabrechner:
              = "@fuhrpark.haupttankkartenabrechner"
            %p
              %b Erfassungsdatum Fuhrparkstruktur:
              = "@fuhrpark.erfassungsdatum"


  #tab2.tab-pane.fade
    .col-md-12
      .col-md-6
        .panel.panel-default
          .panel-heading
            %b Übersicht Kartenlimite
          .panel-body
            %p
              %b Höhe Gesamtlimit (Tk & Sk):
              = "automatisiertes Feld"
            %p
              %b Gesamtlimit gültig bis:
              = "automatisiertes Feld"
            %p
              %b internes GEFA-Limit:
              = "automatisiertes Feld"
            = link_to partners_path, {:class => "btn btn-info ", :style => "color:white"} do
              %span.glyphicon.glyphicon-file
              Historie Kartenlimite


      .col-md-6
        .panel.panel-default
          .panel-heading
            %b Stammdaten Tankkartengeschäft
          .panel-body
            %p
              %b Höhe aktuelles Tankkartenlimit:
              = "@kartenlimit.limit_tanken"
            %p
              %b aktuelles Tankkartenlimit seit:
              = "@kartenlimit.limit_tanken_seit"
            %p
              %b Status Tankkartenkunde:
              = "if Kündigungen == false, aktiv "
            %p
              %b Status Tankkartenkunde seit:
              = "@kartenlimit.status_tanken_seit"
            %p
              %b Haftungszusae seit:
              = "@kartenlimit.haftungszusage_dkv_seit"
            %p
              %b Anzahl Tankkarten:
              = "@kartenlimit.karten_anzahl"
            = link_to partners_path, {:class => "btn btn-info ", :style => "color:white"} do
              %span.glyphicon.glyphicon-file
              Historie Kartenanzahl

    .col-md-12
      .col-md-6
        .panel.panel-default
          .panel-heading
            %b Stammdaten Service Card-Geschäft
          .panel-body
            %p
              %b Höhe aktuelles Service Card-Limit:
              = "@kartenlimit.limit_service"
            %p
              %b aktuelles Service Card-Limit seit:
              = "@kartenlimit.limit_service_seit"
            %p
              %b Höhe Trost Limit:
              = "2.500,00 €"
            %p
              %b Status Service Card-Kunde seit:
              =" @kartenlimit.service_seit"

      .col-md-6
        .panel.panel-default
          .panel-heading
            %b Absicherungen
          .panel-body
            %p
              %b Absicherungshöhe Wert:
              = "@kartenlimit.absicherungen_betrag"
            %p
              %b Absicherungsart:
              = "@kartenlimit.absicherungen_art"
            %p
              %b Absicherung seit:
              = "@kartenlimit.absicherungen_seit"
            = link_to partners_path, {:class => "btn btn-info ", :style => "color:white"} do
              %span.glyphicon.glyphicon-file
              Historie Absicherungen


            %br/

            %br/
            .form-group
              %label{:for => "comment"} Zusatzinfos:
              %textarea#comment.form-control{:rows => "4"}
  #tab3.tab-pane.fade
    .col-md-12
      .col-md-4
        .panel.panel-default
          .panel-heading aktuelle Positionen:
          .panel-body
            %p
              %b offener Posten gesamt:
              = "-"
            %p
              %b offene Forderung gesamt:
              = "SIT übermittelt"

    .col-md-12
      .col-md-6
        .panel.panel-default
          .panel-heading Tankkartenumsätze
          .panel-body
            %p
              %b aktuelle Tankkartenrechnung:
              = "Funktionsfeld SIT"
            %p
              %b Tankkartenumsatz letzter Kalendermonat:
              = "Funktionsfeld SIT"
            %p
              %b Tankkartenumsatz gesamt laufendes Jahr:
              = "Funktionsfeld SIT"
            %p
              = link_to welcome_index_path, {:class => "btn btn-info ", :style => "color:white"} do
                %span.glyphicon.glyphicon-file
                Historie Umsätze
            %p
              %b Tankkartenproduktbezug definierter Zeitraum:
              = "zu definieren"

      .col-md-6
        .panel.panel-default
          .panel-heading Service Card-Umsätze
          .panel-body
            %p
              %b Service Card-Umsatz letzter Kalendermonat:
              = "Funktionsfeld SIT"
            %p
              %b Service Card-Umsatz gesamt laufendes Jahr:
              = "Funktionsfeld SIT"
            %p
              = link_to welcome_index_path, {:class => "btn btn-info ", :style => "color:white"} do
                %span.glyphicon.glyphicon-file
                Umsatz gesamte Vertragslaufzeit
            %br
            %p
              %b aktuelle Anzahl Clever Rent Verträge:
              = "Direkteingabe"
            %p
              %b Wert laufender Clever Rent Verträge:
              = "Funktionsfeld (Summe aller Einzelverträge)"
          %br/
  #tab4.tab-pane.fade
    .col-md-12
      .col-md-12
        .panel.panel-default
          .panel-heading
            %table.table.table-striped
              %thead
                %th Nr.
                %th Absicherungshöhe
                %th Absicherungsart
                %th Absicherung seit
                %th Absicherung bis
                %th Freitext
              %tbody
                - @partner.validations.each_with_index do |validation, i|
                  %tr
                    %td= i+1
                    %td= validation.betrag
                    %td= validation.art
                    %td= validation.seit
                    %td= validation.ende
                    %td= validation.bemerkung

  #tab5.tab-pane.fade
    .col-md-12
      .col-md-6
        .panel.panel-default
          .panel-heading Kartengeschäft
          .panel-body
            %p
              %b letzte Zahlungstörung im Kartengeschäft:
              = "Direkteingabe"
            %p
              %b Grund der letzten Zahlungsstörung:
              = "Auswahlfeld"
            %p
              %b Betrag letzte RLS aus Zahlungsstörung inkl. Gebühren:
              = "Direkteingabe"
            %p
              %b Ausgleich letzte RLS am:
              = "Direkteingabe"
            %p
            = link_to "#", {:class => "btn btn-info ", :style => "color:white"} do
              %span.glyphicon.glyphicon-file
              Historie

      .col-md-6
        .panel.panel-default
          .panel-heading Kerngeschäft
          .panel-body
            %p
              %b aktueller Rückstand Kartenkunde im Kerngeschäftt:
              = "Business Objekts"
            %p
              %b Watchlistgruppe:
              = "Business Objekts"
            %p
              %b Watchlistgruppe seit:
              = "Business Objekts"
            %p
              %b Mahnstufe:
              = "Business Objekts"
            %p
              %b Mahnstufe seit:
              = "Business Objekts"
            %p
              %b Sperrgrund:
              = "Business Objekts"
            %p
              %b Sperrgrund seit:
              = "Business Objekts"

  #tab6.tab-pane.fade ausstehend



= link_to edit_partner_path(@partner), {:class => "btn btn-success ", :style => "color:white"} do
  %span.glyphicon.glyphicon-pencil
  Edit

= link_to welcome_index_path, {:class => "btn btn-danger", :style => "color:white"} do
  %span.glyphicon.glyphicon-home
  Back

%br/

%br/
