= simple_form_for(@partner_role) do |f|
  = f.error_notification

  .form-inputs
    = f.association :partner, :include_blank => false, :label_method => lambda { |partner| "#{partner.gevis_nummer}"}
    = f.input :partnerrolle
    = f.input :gueltig_von
    = f.input :gueltig_bis

  .form-actions
    = f.button :submit
