%h1 Listing partner_roles

%table
  %thead
    %tr
      %th Partner
      %th Partnerrolle
      %th Gueltig von
      %th Gueltig bis
      %th
      %th
      %th

  %tbody
    - @partner_roles.each do |partner_role|
      %tr
        %td= partner_role.partner
        %td= partner_role.partnerrolle
        %td= partner_role.gueltig_von
        %td= partner_role.gueltig_bis
        %td= link_to 'Show', partner_role
        %td= link_to 'Edit', edit_partner_role_path(partner_role)
        %td= link_to 'Destroy', partner_role, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Partner role', new_partner_role_path
