%p#notice= notice

%p
  %b Partner:
  = @partner_role.partner
%p
  %b Partnerrolle:
  = @partner_role.partnerrolle
%p
  %b Gueltig von:
  = @partner_role.gueltig_von
%p
  %b Gueltig bis:
  = @partner_role.gueltig_bis

= link_to 'Edit', edit_partner_role_path(@partner_role)
\|
= link_to 'Back', partner_roles_path
