= simple_form_for(@sales_information) do |f|
  = f.error_notification

  .form-inputs
    = f.association :partner, :include_blank => false, :label_method => lambda { |partner| "#{partner.gevis_nummer}"}
    = f.input :berater_vorname
    = f.input :berater_name
    = f.input :kompetenzcenter
    = f.input :niederlassung
    = f.input :gueltig_bis
    = f.input :gueltig_von

  .form-actions
    = f.button :submit
