%h1 Listing sales_informations

%table
  %thead
    %tr
      %th Partner
      %th Berater vorname
      %th Berater name
      %th Kompetenzcenter
      %th Niederlassung
      %th Gueltig bis
      %th Gueltig von
      %th
      %th
      %th

  %tbody
    - @sales_informations.each do |sales_information|
      %tr
        %td= sales_information.partner
        %td= sales_information.berater_vorname
        %td= sales_information.berater_name
        %td= sales_information.kompetenzcenter
        %td= sales_information.niederlassung
        %td= sales_information.gueltig_bis
        %td= sales_information.gueltig_von
        %td= link_to 'Show', sales_information
        %td= link_to 'Edit', edit_sales_information_path(sales_information)
        %td= link_to 'Destroy', sales_information, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Sales information', new_sales_information_path
