%p#notice= notice

%p
  %b Partner:
  = @sales_information.partner
%p
  %b Berater vorname:
  = @sales_information.berater_vorname
%p
  %b Berater name:
  = @sales_information.berater_name
%p
  %b Kompetenzcenter:
  = @sales_information.kompetenzcenter
%p
  %b Niederlassung:
  = @sales_information.niederlassung
%p
  %b Gueltig bis:
  = @sales_information.gueltig_bis
%p
  %b Gueltig von:
  = @sales_information.gueltig_von

= link_to 'Edit', edit_sales_information_path(@sales_information)
\|
= link_to 'Back', sales_informations_path
