= simple_form_for(@pema_rent) do |f|
  = f.error_notification

  .form-inputs
    = f.association :partner, :include_blank => false, :label_method => lambda { |partner| "#{partner.gevis_nummer}"}
    = f.input :vertragsnummer
    = f.input :fahrgestellnummer
    = f.input :laufzeit
    = f.input :kaution
    = f.input :status
    = f.input :vertragsbeginn
    = f.input :vertragsende
    = f.input :zusatzinfos

  .form-actions
    = f.button :submit
