%h1 Listing pema_rents

%table
  %thead
    %tr
      %th Partner
      %th Vertragsnummer
      %th Fahrgestellnummer
      %th Laufzeit
      %th Kaution
      %th Status
      %th Vertragsbeginn
      %th Vertragsende
      %th Zusatzinfos
      %th
      %th
      %th

  %tbody
    - @pema_rents.each do |pema_rent|
      %tr
        %td= pema_rent.partner
        %td= pema_rent.vertragsnummer
        %td= pema_rent.fahrgestellnummer
        %td= pema_rent.laufzeit
        %td= pema_rent.kaution
        %td= pema_rent.status
        %td= pema_rent.vertragsbeginn
        %td= pema_rent.vertragsende
        %td= pema_rent.zusatzinfos
        %td= link_to 'Show', pema_rent
        %td= link_to 'Edit', edit_pema_rent_path(pema_rent)
        %td= link_to 'Destroy', pema_rent, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Pema rent', new_pema_rent_path
