%p#notice= notice

%p
  %b Partner:
  = @pema_rent.partner
%p
  %b Vertragsnummer:
  = @pema_rent.vertragsnummer
%p
  %b Fahrgestellnummer:
  = @pema_rent.fahrgestellnummer
%p
  %b Laufzeit:
  = @pema_rent.laufzeit
%p
  %b Kaution:
  = @pema_rent.kaution
%p
  %b Status:
  = @pema_rent.status
%p
  %b Vertragsbeginn:
  = @pema_rent.vertragsbeginn
%p
  %b Vertragsende:
  = @pema_rent.vertragsende
%p
  %b Zusatzinfos:
  = @pema_rent.zusatzinfos

= link_to 'Edit', edit_pema_rent_path(@pema_rent)
\|
= link_to 'Back', pema_rents_path
