= simple_form_for(@service_turnover) do |f|
  = f.error_notification

  .form-inputs
    = f.association :partner, :include_blank => false, :label_method => lambda { |partner| "#{partner.gevis_nummer}"}
    = f.input :beschreibung
    = f.input :belegdatum
    = f.input :betrag
    = f.input :waehrung
    = f.input :rechnungsdruck
    = f.input :gevis_akzeptanzstelle

  .form-actions
    = f.button :submit
