%h1 Listing service_turnovers

%table
  %thead
    %tr
      %th Partner
      %th Beschreibung
      %th Belegdatum
      %th Betrag
      %th Waehrung
      %th Rechnungsdruck
      %th Gevis akzeptanzstelle
      %th
      %th
      %th

  %tbody
    - @service_turnovers.each do |service_turnover|
      %tr
        %td= service_turnover.partner
        %td= service_turnover.beschreibung
        %td= service_turnover.belegdatum
        %td= service_turnover.betrag
        %td= service_turnover.waehrung
        %td= service_turnover.rechnungsdruck
        %td= service_turnover.gevis_akzeptanzstelle
        %td= link_to 'Show', service_turnover
        %td= link_to 'Edit', edit_service_turnover_path(service_turnover)
        %td= link_to 'Destroy', service_turnover, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Service turnover', new_service_turnover_path
