%p#notice= notice

%p
  %b Partner:
  = @service_turnover.partner
%p
  %b Beschreibung:
  = @service_turnover.beschreibung
%p
  %b Belegdatum:
  = @service_turnover.belegdatum
%p
  %b Betrag:
  = @service_turnover.betrag
%p
  %b Waehrung:
  = @service_turnover.waehrung
%p
  %b Rechnungsdruck:
  = @service_turnover.rechnungsdruck
%p
  %b Gevis akzeptanzstelle:
  = @service_turnover.gevis_akzeptanzstelle

= link_to 'Edit', edit_service_turnover_path(@service_turnover)
\|
= link_to 'Back', service_turnovers_path
