= simple_form_for(@payment_trouble) do |f|
  = f.error_notification

  .form-inputs
    = f.association :partner, :include_blank => false, :label_method => lambda { |partner| "#{partner.gevis_nummer}"}
    = f.input :watchlist
    = f.input :watchlist_datum
    = f.input :mahnstufe
    = f.input :mahnstufe_datum
    = f.input :sperrgrund
    = f.input :sperrgrund_datum

  .form-actions
    = f.button :submit
