%h1 Listing payment_troubles

%table
  %thead
    %tr
      %th Partner
      %th Watchlist
      %th Watchlist datum
      %th Mahnstufe
      %th Mahnstufe datum
      %th Sperrgrund
      %th Sperrgrund datum
      %th
      %th
      %th

  %tbody
    - @payment_troubles.each do |payment_trouble|
      %tr
        %td= payment_trouble.partner
        %td= payment_trouble.watchlist
        %td= payment_trouble.watchlist_datum
        %td= payment_trouble.mahnstufe
        %td= payment_trouble.mahnstufe_datum
        %td= payment_trouble.sperrgrund
        %td= payment_trouble.sperrgrund_datum
        %td= link_to 'Show', payment_trouble
        %td= link_to 'Edit', edit_payment_trouble_path(payment_trouble)
        %td= link_to 'Destroy', payment_trouble, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Payment trouble', new_payment_trouble_path
