%p#notice= notice

%p
  %b Partner:
  = @payment_trouble.partner
%p
  %b Watchlist:
  = @payment_trouble.watchlist
%p
  %b Watchlist datum:
  = @payment_trouble.watchlist_datum
%p
  %b Mahnstufe:
  = @payment_trouble.mahnstufe
%p
  %b Mahnstufe datum:
  = @payment_trouble.mahnstufe_datum
%p
  %b Sperrgrund:
  = @payment_trouble.sperrgrund
%p
  %b Sperrgrund datum:
  = @payment_trouble.sperrgrund_datum

= link_to 'Edit', edit_payment_trouble_path(@payment_trouble)
\|
= link_to 'Back', payment_troubles_path
