= simple_form_for(@liability_request) do |f|
  = f.error_notification

  .form-inputs
    = f.association :partner, :include_blank => false, :label_method => lambda { |partner| "#{partner.gevis_nummer}"}
    = f.input :anfrage_dkv
    = f.input :dkv_betrag
    = f.input :anfrage_verschickt_an
    = f.input :anfrage_verschickt_datum
    = f.input :ergebnis_dkv_haftungsanfrage
    = f.input :anzahl_karten
    = f.input :mitarbeiter_ad
    = f.input :mitarbeiter_ad_datum

  .form-actions
    = f.button :submit
