%h1 Listing liability_requests

%table
  %thead
    %tr
      %th Partner
      %th Anfrage dkv
      %th Dkv betrag
      %th Anfrage verschickt an
      %th Anfrage verschickt datum
      %th Ergebnis dkv haftungsanfrage
      %th Anzahl karten
      %th Mitarbeiter ad
      %th Mitarbeiter ad datum
      %th
      %th
      %th

  %tbody
    - @liability_requests.each do |liability_request|
      %tr
        %td= liability_request.partner
        %td= liability_request.anfrage_dkv
        %td= liability_request.dkv_betrag
        %td= liability_request.anfrage_verschickt_an
        %td= liability_request.anfrage_verschickt_datum
        %td= liability_request.ergebnis_dkv_haftungsanfrage
        %td= liability_request.anzahl_karten
        %td= liability_request.mitarbeiter_ad
        %td= liability_request.mitarbeiter_ad_datum
        %td= link_to 'Show', liability_request
        %td= link_to 'Edit', edit_liability_request_path(liability_request)
        %td= link_to 'Destroy', liability_request, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Liability request', new_liability_request_path
