%p#notice= notice

%p
  %b Partner:
  = @liability_request.partner
%p
  %b Anfrage dkv:
  = @liability_request.anfrage_dkv
%p
  %b Dkv betrag:
  = @liability_request.dkv_betrag
%p
  %b Anfrage verschickt an:
  = @liability_request.anfrage_verschickt_an
%p
  %b Anfrage verschickt datum:
  = @liability_request.anfrage_verschickt_datum
%p
  %b Ergebnis dkv haftungsanfrage:
  = @liability_request.ergebnis_dkv_haftungsanfrage
%p
  %b Anzahl karten:
  = @liability_request.anzahl_karten
%p
  %b Mitarbeiter ad:
  = @liability_request.mitarbeiter_ad
%p
  %b Mitarbeiter ad datum:
  = @liability_request.mitarbeiter_ad_datum

= link_to 'Edit', edit_liability_request_path(@liability_request)
\|
= link_to 'Back', liability_requests_path
