.col-md-12
  - if notice
    .alert.alert-success
      = notice


  .panel.panel-default
    .panel-body
      .row
        .col-md-3
          %select.form-control
            %option{:value => "null"} Bitte wählen
            %option{:value => "gevisNr"} Gevis-Nr
            %option{:value => "dkvKundennummer"} DKV-Kundennummer
            %option{:value => "firma"} Firma
            %option{:value => "plz"} PLZ
            %option{:value => "ort"} Ort

        .col-md-6
          .input-group
            %input.form-control{:placeholder => "Gevis-Nr, DKV-Kundennumemr, Firma, PLZ, Ort", :type => "text"}
              %span.input-group-btn
                %button.btn.btn-default{:type => "button"} Suchen
        .col-md-3
          = link_to new_partner_path, {:class => "btn btn-default", :style => "float: right"} do
            %span.glyphicon.glyphicon-plus
            Neuanlage

.col-md-12
  .panel.panel-danger
    .panel-heading Suchergebnisse
    %table.table.table-striped
      %thead
        %tr
        %th Gevis-Nr
        %th Dkv nummer
        %th Firma 1
        %th Strasse
        %th Hausnummer
        %th Plz
        %th Ort
        %th Anzeigen
        %th Editieren
        %th Löschen

      %tbody
        - @partners.each do |partner|
          %tr
            %td= partner.gevis_nummer
            %td= partner.dkv_nummer
            %td= partner.invoice.firma1
            %td= partner.invoice.strasse
            %td= partner.invoice.hausnummer
            %td= partner.invoice.plz
            %td= partner.invoice.ort
            %td= link_to 'Details', partner, {:class => "btn btn-default", :style => "float: left"}
            %td= link_to 'Edit', edit_partner_path(partner), {:class => "btn btn-default", :style => "float: left"}
            %td= link_to 'Löschen', partner, :class => "btn btn-default", :style => "float: left", :method => :delete, :data => { :confirm => 'Are you sure?' }


%br
