= simple_form_for(@service_limit) do |f|
  = f.error_notification

  .form-inputs
    = f.association :partner, :include_blank => false, :label_method => lambda { |partner| "#{partner.gevis_nummer}"}
    = f.input :limit
    = f.input :limit_seit
    = f.input :limit_bis
    = f.input :service_seit

  .form-actions
    = f.button :submit
