%h1 Listing service_limits

%table
  %thead
    %tr
      %th Partner
      %th Limit
      %th Limit seit
      %th Limit bis
      %th Service seit
      %th
      %th
      %th

  %tbody
    - @service_limits.each do |service_limit|
      %tr
        %td= service_limit.partner
        %td= service_limit.limit
        %td= service_limit.limit_seit
        %td= service_limit.limit_bis
        %td= service_limit.service_seit
        %td= link_to 'Show', service_limit
        %td= link_to 'Edit', edit_service_limit_path(service_limit)
        %td= link_to 'Destroy', service_limit, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Service limit', new_service_limit_path
