%p#notice= notice

%p
  %b Partner:
  = @service_limit.partner
%p
  %b Limit:
  = @service_limit.limit
%p
  %b Limit seit:
  = @service_limit.limit_seit
%p
  %b Limit bis:
  = @service_limit.limit_bis
%p
  %b Service seit:
  = @service_limit.service_seit

= link_to 'Edit', edit_service_limit_path(@service_limit)
\|
= link_to 'Back', service_limits_path
