%h1 Listing fuel_turnovers

%table
  %thead
    %tr
      %th Dkv nummer
      %th Partner
      %th Beschreibung
      %th Belegdatum
      %th Betrag
      %th Waehrung
      %th Rechnungsdruck
      %th
      %th
      %th

  %tbody
    - @fuel_turnovers.each do |fuel_turnover|
      %tr
        %td= fuel_turnover.dkv_nummer
        %td= fuel_turnover.partner
        %td= fuel_turnover.beschreibung
        %td= fuel_turnover.belegdatum
        %td= fuel_turnover.betrag
        %td= fuel_turnover.waehrung
        %td= fuel_turnover.rechnungsdruck
        %td= link_to 'Show', fuel_turnover
        %td= link_to 'Edit', edit_fuel_turnover_path(fuel_turnover)
        %td= link_to 'Destroy', fuel_turnover, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Fuel turnover', new_fuel_turnover_path
