%p#notice= notice

%p
  %b Dkv nummer:
  = @fuel_turnover.dkv_nummer
%p
  %b Partner:
  = @fuel_turnover.partner
%p
  %b Beschreibung:
  = @fuel_turnover.beschreibung
%p
  %b Belegdatum:
  = @fuel_turnover.belegdatum
%p
  %b Betrag:
  = @fuel_turnover.betrag
%p
  %b Waehrung:
  = @fuel_turnover.waehrung
%p
  %b Rechnungsdruck:
  = @fuel_turnover.rechnungsdruck

= link_to 'Edit', edit_fuel_turnover_path(@fuel_turnover)
\|
= link_to 'Back', fuel_turnovers_path
