= simple_form_for(@return_debit_note) do |f|
  = f.error_notification

  .form-inputs
    = f.association :partner, :include_blank => false, :label_method => lambda { |partner| "#{partner.gevis_nummer}"}
    = f.input :eingang_rls
    = f.input :grund
    = f.input :faellig
    = f.input :betrag
    = f.input :ausgleich_rls
    = f.input :rls_gebuehren
    = f.input :tank_geschaeft
    = f.input :dkv_informiert
    = f.input :zahlungserinnerung
    = f.input :mahnung1
    = f.input :mahnung2
    = f.input :zahlungseingang_datum
    = f.input :zahlungseingang_betrag
    = f.input :dkv_informiert2
    = f.input :gueltig_bis

  .form-actions
    = f.button :submit
