%h1 Listing return_debit_notes

%table
  %thead
    %tr
      %th Partner
      %th Eingang rls
      %th Grund
      %th Faellig
      %th Betrag
      %th Ausgleich rls
      %th Rls gebuehren
      %th Tank geschaeft
      %th Dkv informiert
      %th Zahlungserinnerung
      %th Mahnung1
      %th Mahnung2
      %th Zahlungseingang datum
      %th Zahlungseingang betrag
      %th Dkv informiert2
      %th Gueltig bis
      %th
      %th
      %th

  %tbody
    - @return_debit_notes.each do |return_debit_note|
      %tr
        %td= return_debit_note.partner
        %td= return_debit_note.eingang_rls
        %td= return_debit_note.grund
        %td= return_debit_note.faellig
        %td= return_debit_note.betrag
        %td= return_debit_note.ausgleich_rls
        %td= return_debit_note.rls_gebuehren
        %td= return_debit_note.tank_geschaeft
        %td= return_debit_note.dkv_informiert
        %td= return_debit_note.zahlungserinnerung
        %td= return_debit_note.mahnung1
        %td= return_debit_note.mahnung2
        %td= return_debit_note.zahlungseingang_datum
        %td= return_debit_note.zahlungseingang_betrag
        %td= return_debit_note.dkv_informiert2
        %td= return_debit_note.gueltig_bis
        %td= link_to 'Show', return_debit_note
        %td= link_to 'Edit', edit_return_debit_note_path(return_debit_note)
        %td= link_to 'Destroy', return_debit_note, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Return debit note', new_return_debit_note_path
