%p#notice= notice

%p
  %b Partner:
  = @return_debit_note.partner
%p
  %b Eingang rls:
  = @return_debit_note.eingang_rls
%p
  %b Grund:
  = @return_debit_note.grund
%p
  %b Faellig:
  = @return_debit_note.faellig
%p
  %b Betrag:
  = @return_debit_note.betrag
%p
  %b Ausgleich rls:
  = @return_debit_note.ausgleich_rls
%p
  %b Rls gebuehren:
  = @return_debit_note.rls_gebuehren
%p
  %b Tank geschaeft:
  = @return_debit_note.tank_geschaeft
%p
  %b Dkv informiert:
  = @return_debit_note.dkv_informiert
%p
  %b Zahlungserinnerung:
  = @return_debit_note.zahlungserinnerung
%p
  %b Mahnung1:
  = @return_debit_note.mahnung1
%p
  %b Mahnung2:
  = @return_debit_note.mahnung2
%p
  %b Zahlungseingang datum:
  = @return_debit_note.zahlungseingang_datum
%p
  %b Zahlungseingang betrag:
  = @return_debit_note.zahlungseingang_betrag
%p
  %b Dkv informiert2:
  = @return_debit_note.dkv_informiert2
%p
  %b Gueltig bis:
  = @return_debit_note.gueltig_bis

= link_to 'Edit', edit_return_debit_note_path(@return_debit_note)
\|
= link_to 'Back', return_debit_notes_path
