= simple_form_for(@contact) do |f|
  = f.error_notification

  .form-inputs
    = f.association :partner, :include_blank => false, :label_method => lambda { |partner| "#{partner.gevis_nummer}"}
    = f.input :ansprechpartner_vorname
    = f.input :ansprechpartner_name
    = f.input :ansprechpartner_titel
    = f.input :ansprechpartner_abteilung
    = f.input :ansprechpartner_geschlecht
    = f.input :ansprechpartner_funktion
    = f.input :ansprechpartner_telefon
    = f.input :ansprechpartner_fax
    = f.input :ansprechpartner_email

  .form-actions
    = f.button :submit
