%h1 Listing contacts

%table
  %thead
    %tr
      %th Partner
      %th Ansprechpartner vorname
      %th Ansprechpartner name
      %th Ansprechpartner titel
      %th Ansprechpartner abteilung
      %th Ansprechpartner geschlecht
      %th Ansprechpartner funktion
      %th Ansprechpartner telefon
      %th Ansprechpartner fax
      %th Ansprechpartner email
      %th
      %th
      %th

  %tbody
    - @contacts.each do |contact|
      %tr
        %td= contact.partner
        %td= contact.ansprechpartner_vorname
        %td= contact.ansprechpartner_name
        %td= contact.ansprechpartner_titel
        %td= contact.ansprechpartner_abteilung
        %td= contact.ansprechpartner_geschlecht
        %td= contact.ansprechpartner_funktion
        %td= contact.ansprechpartner_telefon
        %td= contact.ansprechpartner_fax
        %td= contact.ansprechpartner_email
        %td= link_to 'Show', contact
        %td= link_to 'Edit', edit_contact_path(contact)
        %td= link_to 'Destroy', contact, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Contact', new_contact_path
