%p#notice= notice

%p
  %b Partner:
  = @contact.partner
%p
  %b Ansprechpartner vorname:
  = @contact.ansprechpartner_vorname
%p
  %b Ansprechpartner name:
  = @contact.ansprechpartner_name
%p
  %b Ansprechpartner titel:
  = @contact.ansprechpartner_titel
%p
  %b Ansprechpartner abteilung:
  = @contact.ansprechpartner_abteilung
%p
  %b Ansprechpartner geschlecht:
  = @contact.ansprechpartner_geschlecht
%p
  %b Ansprechpartner funktion:
  = @contact.ansprechpartner_funktion
%p
  %b Ansprechpartner telefon:
  = @contact.ansprechpartner_telefon
%p
  %b Ansprechpartner fax:
  = @contact.ansprechpartner_fax
%p
  %b Ansprechpartner email:
  = @contact.ansprechpartner_email

= link_to 'Edit', edit_contact_path(@contact)
\|
= link_to 'Back', contacts_path
