%h1 Listing fuel_limits

%table
  %thead
    %tr
      %th Partner
      %th Dkv nummer
      %th Limit
      %th Limit seit
      %th Limit bis
      %th Haftungszusage dkv seit
      %th
      %th
      %th

  %tbody
    - @fuel_limits.each do |fuel_limit|
      %tr
        %td= fuel_limit.partner
        %td= fuel_limit.dkv_nummer
        %td= fuel_limit.limit
        %td= fuel_limit.limit_seit
        %td= fuel_limit.limit_bis
        %td= fuel_limit.haftungszusage_dkv_seit
        %td= link_to 'Show', fuel_limit
        %td= link_to 'Edit', edit_fuel_limit_path(fuel_limit)
        %td= link_to 'Destroy', fuel_limit, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Fuel limit', new_fuel_limit_path
