%p#notice= notice

%p
  %b Partner:
  = @fuel_limit.partner
%p
  %b Dkv nummer:
  = @fuel_limit.dkv_nummer
%p
  %b Limit:
  = @fuel_limit.limit
%p
  %b Limit seit:
  = @fuel_limit.limit_seit
%p
  %b Limit bis:
  = @fuel_limit.limit_bis
%p
  %b Haftungszusage dkv seit:
  = @fuel_limit.haftungszusage_dkv_seit

= link_to 'Edit', edit_fuel_limit_path(@fuel_limit)
\|
= link_to 'Back', fuel_limits_path
