= simple_form_for(@card_contract) do |f|
  = f.error_notification

  .form-inputs
    = f.association :partner, :include_blank => false, :label_method => lambda { |partner| "#{partner.gevis_nummer}"}
    = f.input :kundentyp
    = f.input :vertragsnummer
    = f.input :vertrag_datum
    = f.input :vermerk

  .form-actions
    = f.button :submit
