%h1 Listing card_contracts

%table
  %thead
    %tr
      %th Partner
      %th Kundentyp
      %th Vertragsnummer
      %th Vertrag datum
      %th Vermerk
      %th
      %th
      %th

  %tbody
    - @card_contracts.each do |card_contract|
      %tr
        %td= card_contract.partner
        %td= card_contract.kundentyp
        %td= card_contract.vertragsnummer
        %td= card_contract.vertrag_datum
        %td= card_contract.vermerk
        %td= link_to 'Show', card_contract
        %td= link_to 'Edit', edit_card_contract_path(card_contract)
        %td= link_to 'Destroy', card_contract, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Card contract', new_card_contract_path
