%p#notice= notice

%p
  %b Partner:
  = @card_contract.partner
%p
  %b Kundentyp:
  = @card_contract.kundentyp
%p
  %b Vertragsnummer:
  = @card_contract.vertragsnummer
%p
  %b Vertrag datum:
  = @card_contract.vertrag_datum
%p
  %b Vermerk:
  = @card_contract.vermerk

= link_to 'Edit', edit_card_contract_path(@card_contract)
\|
= link_to 'Back', card_contracts_path
