= simple_form_for(@motor_pool) do |f|
  = f.error_notification

  .form-inputs
    = f.association :partner, :include_blank => false, :label_method => lambda { |partner| "#{partner.gevis_nummer}"}
    = f.input :anzahl_pkw_kl_3_5
    = f.input :anzahl_pkw_gr_3_5
    = f.input :anzahl_lkw_gr_12
    = f.input :anzahl_busse
    = f.input :tankstellen_privat
    = f.input :mautabrechner
    = f.input :hauptkartenabrechner
    = f.input :erfassungsdatum

  .form-actions
    = f.button :submit
