%h1 Listing motor_pools

%table
  %thead
    %tr
      %th Partner
      %th Anzahl pkw kl 3 5
      %th Anzahl pkw gr 3 5
      %th Anzahl lkw gr 12
      %th Anzahl busse
      %th Tankstellen privat
      %th Mautabrechner
      %th Hauptkartenabrechner
      %th Erfassungsdatum
      %th
      %th
      %th

  %tbody
    - @motor_pools.each do |motor_pool|
      %tr
        %td= motor_pool.partner
        %td= motor_pool.anzahl_pkw_kl_3_5
        %td= motor_pool.anzahl_pkw_gr_3_5
        %td= motor_pool.anzahl_lkw_gr_12
        %td= motor_pool.anzahl_busse
        %td= motor_pool.tankstellen_privat
        %td= motor_pool.mautabrechner
        %td= motor_pool.hauptkartenabrechner
        %td= motor_pool.erfassungsdatum
        %td= link_to 'Show', motor_pool
        %td= link_to 'Edit', edit_motor_pool_path(motor_pool)
        %td= link_to 'Destroy', motor_pool, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Motor pool', new_motor_pool_path
