%p#notice= notice

%p
  %b Partner:
  = @motor_pool.partner
%p
  %b Anzahl pkw kl 3 5:
  = @motor_pool.anzahl_pkw_kl_3_5
%p
  %b Anzahl pkw gr 3 5:
  = @motor_pool.anzahl_pkw_gr_3_5
%p
  %b Anzahl lkw gr 12:
  = @motor_pool.anzahl_lkw_gr_12
%p
  %b Anzahl busse:
  = @motor_pool.anzahl_busse
%p
  %b Tankstellen privat:
  = @motor_pool.tankstellen_privat
%p
  %b Mautabrechner:
  = @motor_pool.mautabrechner
%p
  %b Hauptkartenabrechner:
  = @motor_pool.hauptkartenabrechner
%p
  %b Erfassungsdatum:
  = @motor_pool.erfassungsdatum

= link_to 'Edit', edit_motor_pool_path(@motor_pool)
\|
= link_to 'Back', motor_pools_path
