= simple_form_for(@validation) do |f|
  = f.error_notification

  .form-inputs
    = f.association :partner, :include_blank => false, :label_method => lambda { |partner| "#{partner.gevis_nummer}"}
    = f.input :betrag
    = f.input :art
    = f.input :seit
    = f.input :ende
    = f.input :bemerkung

  .form-actions
    = f.button :submit
