%h1 Listing validations

%table
  %thead
    %tr
      %th Partner
      %th Betrag
      %th Art
      %th Seit
      %th Ende
      %th Bemerkung
      %th
      %th
      %th

  %tbody
    - @validations.each do |validation|
      %tr
        %td= validation.partner
        %td= validation.betrag
        %td= validation.art
        %td= validation.seit
        %td= validation.ende
        %td= validation.bemerkung
        %td= link_to 'Show', validation
        %td= link_to 'Edit', edit_validation_path(validation)
        %td= link_to 'Destroy', validation, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Validation', new_validation_path
