%p#notice= notice

%p
  %b Partner:
  = @validation.partner
%p
  %b Betrag:
  = @validation.betrag
%p
  %b Art:
  = @validation.art
%p
  %b Seit:
  = @validation.seit
%p
  %b Ende:
  = @validation.ende
%p
  %b Bemerkung:
  = @validation.bemerkung

= link_to 'Edit', edit_validation_path(@validation)
\|
= link_to 'Back', validations_path
