= simple_form_for(@fuel_card) do |f|
  = f.error_notification

  .form-inputs
    = f.association :partner, :include_blank => false, :label_method => lambda { |partner| "#{partner.gevis_nummer}"}
    = f.input :dkv_nummer
    = f.input :anzahl_
    = f.input :gueltig_seit
    = f.input :gueltig_bis

  .form-actions
    = f.button :submit
