%h1 Listing fuel_cards

%table
  %thead
    %tr
      %th Partner
      %th Dkv nummer
      %th Anzahl 
      %th Gueltig seit
      %th Gueltig bis
      %th
      %th
      %th

  %tbody
    - @fuel_cards.each do |fuel_card|
      %tr
        %td= fuel_card.partner
        %td= fuel_card.dkv_nummer
        %td= fuel_card.anzahl_
        %td= fuel_card.gueltig_seit
        %td= fuel_card.gueltig_bis
        %td= link_to 'Show', fuel_card
        %td= link_to 'Edit', edit_fuel_card_path(fuel_card)
        %td= link_to 'Destroy', fuel_card, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Fuel card', new_fuel_card_path
