%p#notice= notice

%p
  %b Partner:
  = @fuel_card.partner
%p
  %b Dkv nummer:
  = @fuel_card.dkv_nummer
%p
  %b Anzahl :
  = @fuel_card.anzahl_
%p
  %b Gueltig seit:
  = @fuel_card.gueltig_seit
%p
  %b Gueltig bis:
  = @fuel_card.gueltig_bis

= link_to 'Edit', edit_fuel_card_path(@fuel_card)
\|
= link_to 'Back', fuel_cards_path
