%br
.col-md-12
  - if notice
    .alert.alert-success
      = notice
  %img{:alt => "rss feed", :src => "/logo.png"}/

.col-md-12
  %br
  %nav.navbar.navbar-default
    .container-fluid
      / Brand and toggle get grouped for better mobile display
      .navbar-header
        %a.navbar-brand{:href => "/"} Idara
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li.active
            %a{:href => "/"}
              Bestanskunden
              %span.sr-only (current)
          %li.disabled
            %a{:href => "#"}
              Potentialkunden
              %span.sr-only (current)
          %li.disabled
            %a{:href => "#"}
              Akzeptanzstellen
              %span.sr-only (current)
          %li.disabled
            %a{:href => "#"}
              Auswertungen
              %span.sr-only (current)
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{:href => "/"}
              Ereignisse
              %span.badge 4
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              Test User
              %span.caret
            %ul.dropdown-menu
              %li
                %a{:href => "#"} Benutzereinstellungen
              %li
                %a{:href => "#"} Benutzerverwaltung
              %li.divider{:role => "separator"}
              %li
                %a{:href => "#"} Logout
