!!!
%html
%head
  %title Idara
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags

%body
  %header
    = render partial: "layouts/nav"

  %main{role: "main"}
    .col-xs-12
      = yield
